<include file="Public:header"/>
<div class="container-fluid">
    <div class="row right-top">支付方式管理</div>
</div>
<div class="container-fluid">
    <empty name="payments">
        没有符合条件的记录
    <else />
    <table class="table table-hover">
        <volist name="payments" id="lst">
        <tr>
            <td>{$lst.name}</td>
            <td>{$lst.desc}</td>
            <td><notempty name="lst.system_enabled">是<else/>否</notempty></td>
            <td>{$lst.currency}</td>
            <td><a href="{$lst.website}" title="{$lst.website}" target="_blank">{$lst.author}</a></td>
            <td>{$lst.version}</td>
            <td class="text-right">
                <empty name="lst.system_enabled">
                <a href="{:U('payment/enable',array('code'=>$lst['code']))}">启用</a>
                <else/>
                <a href="javascript:if(confirm('您确定要禁用它吗？'))window.location='{:U('payment/disable',array('code'=>$lst['code']))}'">禁用</a>
                </empty>
            </td>
        </tr>
        </volist>
    </table>
    </empty>
</div>
<include file="Public:footer"/>