<include file="Public:header"/>
<div class="container-fluid">
    <div class="row right-top">
        <a class="btn btn-default" href="{:U('recommend/index')}">推荐类型</a>
    </div>
    <div class="filter">
        <form method="get" action="__ACTION__">
            <label>商品名：</label><input class="w100" type="text" name="goods_name" value="{$Think.get.goods_name}" />
            <label>店铺名：</label><input class="w100" type="text" name="store_name" value="{$Think.get.store_name}" />
            <label>品牌：</label><input class="w100" type="text" name="brand" value="{$Think.get.brand}" />
            <span class="category">
            <input type="hidden" name="cid" />
            <lebal>分类名：</lebal><select id="categories">
                <option value="">请选择...</option>
                <volist name="categories" id="cate">
                <option value="{$cate.cate_id}">{$cate.cate_name}</option>
                </volist>
            </select>
            </span>
            <button class="btn btn-xs btn-primary" type="submit">查询</button>
            <eq name="filter" value="1">
            <a class="btn btn-xs btn-primary" href="{:U('goods/index')}">撤消检索</a>
            </eq>
        </form>
    </div>
</div>
<div class="container-fluid">
    <empty name="lists">
        没有符合条件的记录
    <else />
    <table class="table table-hover">
        <tr>
            <th><input type="checkbox" onclick="$('input[class=\'checkitem\']').prop('checked',this.checked)" /></th>
            <th>商品名</th>
            <th>排序</th>
            <th>店铺名</th>
            <th>品牌</th>
            <th>分类名</th>
            <th class="text-center">上架</th>
            <th class="text-center">禁售</th>
            <th class="text-center">浏览数</th>
        </tr>
        <volist name="lists" id="lst">
        <tr>
            <td><input class="checkitem" type="checkbox" value="{$lst.goods_id}" /></td>
            <td>{$lst.goods_name}</td>
            <td>{$lst.store_name}</td>
            <td>{$lst.brand}</td>
            <td>{$lst.cate_name}</td>
            <td class="text-center"><span onclick="demo_toggle(this)" d-val="{$lst['if_show']?0:1}" d-uri="{:U('goods/ajax_col',array('id'=>$lst['goods_id'],'col'=>'if_show'))}"><i class="glyphicon glyphicon-<eq name='lst.if_show' value='1'>ok<else />remove</eq>"></i></span></td>
            <td class="text-center"><span onclick="demo_toggle(this)" d-val="{$lst['closed']?0:1}" d-uri="{:U('goods/ajax_col',array('id'=>$lst['goods_id'],'col'=>'closed'))}"><i class="glyphicon glyphicon-eye-<eq name='lst.closed' value='1'>close<else />open</eq>"></i></td>
            <td class="text-center">{$lst.views}</td>
        </tr>
        </volist>
        <tr><td colspan="3" id="batchAction">
            <button class="btn btn-xs btn-primary batchButton" type="button" uri="{:U('goods/recommend',array('ret_page'=>I('p',1,'intval')))}">取消推荐</button>
        </td>
        <td class="text-right" colspan="6">{$page}</td>
        </tr>
    </table>
    </empty>
</div>
<script>
$(function(){
    if(1=={$Think.get.closed|default=0}){
        $('.right-top a:first').removeClass('btn-primary').addClass('btn-default')
            .prop('href','{:U('goods/index')}')
            .next().removeClass('btn-default').addClass('btn-primary').prop('href','#');
    }else{
        $('.right-top a:first').removeClass('btn-default').addClass('btn-primary')
            .prop('href','#')
            .next().removeClass('btn-primary').addClass('btn-default').prop('href','{:U('goods/index',array('closed'=>1))}');
    }
    //分类联动选择
    $('.category').on('change','select',function(){
        var that=$(this);
        if(that.val()>0){
            $('input[name="cid"]').val(that.val()+"-"+$('.category select').length);
        }else{
            $('input[name="cid"]').val('');
        }
        $.get("{:U('goods/get_cate')}&cid="+that.val(),function(result){
            that.nextAll().remove();
            if(result!=''){
                that.parent().append(result);
            }
        });
    });
});
</script>
<script src="__PUBLIC__/js/inline_edit.js"></script>
<include file="Public:footer"/>