<include file="Public:header"/>
<div class="container-fluid">
    <div class="row right-top">
        <a class="btn btn-primary" href="#">所有店铺</a>
        <a class="btn btn-default" href="#">新增</a>
    </div>
    <div class="filter">
        <form method="get" action="__ACTION__">
            <select  name="field_name">
                <foreach name="query_fields" item="query" key="k">
                <option value="{$k}" <eq name="Think.get.query_fields" value="$k">selected</eq>>{$query}</option>
                </foreach>
            </select>
            <input class="w100" type="text" name="field_value"/>
            <label>排序：</label><select name="sort">
                <foreach name="sort_options" item="sort" key="k">
                <option value="{$k}" <eq name="Think.get.sort" value="$k">selected</eq>>{$sort}</option>
                </foreach>
            </select>
            <button class="btn btn-xs btn-primary" type="submit">查询</button>
            <eq name="filter" value="1">
            <a class="btn btn-xs btn-primary" href="{:U('user/index')}">撤消检索</a>
            </eq>
        </form>
    </div>
</div>
<div class="container-fluid">
    <empty name="lists">
        没有符合条件的记录
    <else />
    <table class="table table-hover">
        <tr>
            <th><input type="checkbox" onclick="$('input[class=\'checkitem\']').prop('checked',this.checked)" /></th>
            <th>会员名 | 真实姓名</th>
            <th>邮箱</th>
            <th>注册时间</th>
            <th>最后登录</th>
            <th>登录次数</th>
            <th>是否是管理员</th>
            <th class="text-right">操作</th>
        </tr>
        <volist name="lists" id="lst">
        <tr>
            <td><input class="checkitem" type="checkbox" value="{$lst.store_id}" /></td>
            <td>{$lst.user_name} | {$lst.real_name}</td>
            <td>{$lst.email}</td>
            <td>{$lst.reg_time}</td>
            <td>{$lst.last_ip}</td>
            <td>{$lst.logins}</td>
            <td>
            <eq name="lst.if_admin" value="true">是
            <else/>
            <a href="{:U('admin/add',array('id'=>$lst['user_id']))}" onclick="parent.openItem('admin_manage','user')">设为管理员</a></eq>
            </td>
            <td class="text-right">
            <a href="{:U('user/edit',array('id'=>$lst['user_id'],'ret_page'=>I('p',1,'intval')))}">编辑</a> |
            <a href="#">删除</a>
            <notempty name="lst.store_id">
             | <a href="{:U('store/edit',array('id'=>$lst['store_id']))}" onclick="parent.openItem('store_manage','store')">店铺</a>
            </notempty>
            </td>
        </tr>
        </volist>
        <tr><td colspan="4" id="batchAction">
            <button class="btn btn-xs btn-primary batchButton" type="button">删除</button>
        </td>
        <td class="text-right" colspan="4">{$page}</td>
        </tr>
    </table>
    </empty>
</div>
<include file="Public:footer"/>